.form-control {
    box-shadow: none;
    border-radius: 1px;
    background: #f9f9f9;
    padding: 10px;
    height: auto;
}
.form-control:focus {
    background: #fff;
    box-shadow: none;
    outline: 0;
}
label {
    font-weight:500;
}

.box__container--desktop {
    display:none;
}

.box__container--mobile {
    display:block;
}

@media (min-width: 992px) {
    .box__container--desktop {
        display:block;
    }

    .box__container--mobile {
        display:none;
    }
}
