.img-responsive {
    width: 100%;
}
.grid-item {
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.invisible-submit {
    position: absolute; left: -9999px;
}

.box {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 59px;
    transition: all 0.2s ease-in;
    color: #fff;
    text-align: center;
    label {
        position: absolute;
        color: #000;
        top: 0;
        left: 0;
        color: #fff;
        top: 8px;
    }
    input {
        background: #fff;
        color: #218ae3;
        border: 0;
        text-align: center;
        padding: 9px;
        border-radius: 2px 0px 0px 2px;
        width: 175px;
        margin:7px 0px;
        display:inline;
    }
    input[type="submit"] {
        width:80px;
        background:#218ae3;
        color:#fff;
        border-radius: 0px 2px 2px 0px;

    }
}
.box.submitted {
    background: #218ae3;
    height: 228px;
    label {
        opacity: 0;
    }
    input {
        opacity: 0;
    }
}
.box__container {
    text-align: center;
    display: inline-block;
    position: relative;
    width:100%;
    label {
        width: 100%;
        display: block;
    }
    span {
        display:block;
    }
}
.grid-item:hover .box {
    bottom: 0;
}
.grid-item.clicked .box {
    label {
        position: absolute;
        top: -30px;
    }
}
.box.active {
    bottom: 0;
}
.grid-item__image {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
.hideimage{
    opacity:0;
}
.secondaryImage{
    position:absolute;
    top:0;
    z-index: -100;
}
.grid-item__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    transition: all 0.3s ease-in-out;
    background: #000;
    opacity: 0.3;
}
.grid-item__overlay.ng-hide {
    opacity: 0;
}
.grid-item__text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
    padding-top: 180px;
}
.grid-item__text__submission {
    text-align: center;
    color: #fff;
    font-size: 30px;
}
.grid-item__text__rated {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
}
.grid-item__text__input {

    // input[type="text"] {
    //     border: 0;
    //     padding: 18px 0;
    //     border-radius: 1px;
    //     width: 70px;
    //     font-size: 50px;
    //     text-align: center;
    //     font-weight: lighter;
    //     background: transparent;
    //     color: #fff;
    // }
     ::-webkit-input-placeholder {
        color: #e4e1e1;
    }
     :-moz-placeholder {
        /* Firefox 18- */
        color: #e4e1e1;
    }
     ::-moz-placeholder {
        /* Firefox 19+ */
        color: #e4e1e1;
    }
     :-ms-input-placeholder {
        color: #e4e1e1;
    }
    input:focus::-webkit-input-placeholder {
        color: transparent;
    }
    input:focus:-moz-placeholder {
        color: transparent;
    }
    /* FF 4-18 */
    input:focus::-moz-placeholder {
        color: transparent;
    }
    /* FF 19+ */
    input:focus:-ms-input-placeholder {
        color: transparent;
    }
    /* IE 10+ */
}
.grid-item__text__main {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
}
.grid-item__text:hover {
    display: block;
}
.box__container-guess {
    padding-top: 15px;
}
.box__container-guess__guess,
.box__container-guess__guess-number,
.box__container-guess__real-age,
.box__container-guess__real-age-number {
    font-size: 30px;
    font-weight: lighter;
}
.box__container-guess__guess-number {
    font-weight: 600;
}
.box__container-guess__real-age-number {
    font-weight: 600;
}
.hide {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .img-responsive {
        width: 100%;
    }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .box {
        background: #218ae3;
        height: 38px;

        input {
            color:#fff;
            background: #218ae3;
            padding:9px 0px 0px 0px;
            border-radius:0px;
            width:auto;
            margin:0px;
        }

        label {
            transition: all 0.2s ease-in;
        }
    }
    .box-hide {
        display:none;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
