.account__header {
  background: #eeeded; }

.account__header__text {
  color: #218ae3;
  text-align: center;
  font-weight: lighter;
  padding: 10px 0px;
  font-size: 28px; }

@media (min-width: 768px) {
  .account__header__text {
    line-height: 145px;
    font-size: 50px;
    padding: 0px; } }

/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
.account__upload {
  background: #218ae3;
  text-align: center; }
  .account__upload form {
    margin: 0 auto;
    text-align: center;
    padding: 25px 0; }
  .account__upload input[type="file"] {
    display: inline-block; }

.btn-upload {
  background: #2e2c2c;
  color: #fff;
  border: 0;
  border-bottom: 2px solid #1a1919;
  margin: 10px 0; }
  .btn-upload:hover {
    text-decoration: underline;
    color: #fff; }

.preview {
  height: 100px;
  width: 100px;
  overflow: hidden;
  float: right;
  margin-top: -110px;
  margin-right: 11px;
  position: absolute;
  right: 18px; }

.modal-body {
  overflow: auto; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.btn-logout-account {
  display: none; }

@media (min-width: 768px) {
  .btn-logout-account {
    color: #d2d2d2;
    background: transparent;
    border: 1px solid #d2d2d2;
    position: absolute;
    right: 17px;
    top: 10px;
    display: inline-block; }
  .btn-logout-account:hover {
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    position: absolute;
    right: 17px;
    top: 10px;
    display: inline-block; } }
/*!
 * Cropper v0.11.1
 * https://github.com/fengyuanchen/cropper
 *
 * Copyright (c) 2014-2015 Fengyuan Chen and contributors
 * Released under the MIT license
 *
 * Date: 2015-08-22T04:54:51.269Z
 */
.cropper-container {
  position: relative;
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  direction: ltr !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.cropper-container img {
  display: block;
  width: 100%;
  min-width: 0 !important;
  max-width: none !important;
  height: 100%;
  min-height: 0 !important;
  max-height: none !important;
  image-orientation: 0deg !important; }

.cropper-canvas,
.cropper-drag-box,
.cropper-crop-box,
.cropper-modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.cropper-drag-box {
  background-color: #fff;
  filter: alpha(opacity=0);
  opacity: 0; }

.cropper-modal {
  background-color: #000;
  filter: alpha(opacity=50);
  opacity: .5; }

.cropper-view-box {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 1px solid #69f;
  outline-color: rgba(102, 153, 255, 0.75); }

.cropper-dashed {
  position: absolute;
  display: block;
  filter: alpha(opacity=50);
  border: 0 dashed #eee;
  opacity: .5; }

.cropper-dashed.dashed-h {
  top: 33.33333333%;
  left: 0;
  width: 100%;
  height: 33.33333333%;
  border-top-width: 1px;
  border-bottom-width: 1px; }

.cropper-dashed.dashed-v {
  top: 0;
  left: 33.33333333%;
  width: 33.33333333%;
  height: 100%;
  border-right-width: 1px;
  border-left-width: 1px; }

.cropper-center {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  filter: alpha(opacity=75);
  opacity: .75; }

.cropper-center:before,
.cropper-center:after {
  position: absolute;
  display: block;
  content: " ";
  background-color: #eee; }

.cropper-center:before {
  top: 0;
  left: -3px;
  width: 7px;
  height: 1px; }

.cropper-center:after {
  top: -3px;
  left: 0;
  width: 1px;
  height: 7px; }

.cropper-face,
.cropper-line,
.cropper-point {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  filter: alpha(opacity=10);
  opacity: .1; }

.cropper-face {
  top: 0;
  left: 0;
  background-color: #fff; }

.cropper-line {
  background-color: #69f; }

.cropper-line.line-e {
  top: 0;
  right: -3px;
  width: 5px;
  cursor: e-resize; }

.cropper-line.line-n {
  top: -3px;
  left: 0;
  height: 5px;
  cursor: n-resize; }

.cropper-line.line-w {
  top: 0;
  left: -3px;
  width: 5px;
  cursor: w-resize; }

.cropper-line.line-s {
  bottom: -3px;
  left: 0;
  height: 5px;
  cursor: s-resize; }

.cropper-point {
  width: 5px;
  height: 5px;
  background-color: #69f;
  filter: alpha(opacity=75);
  opacity: .75; }

.cropper-point.point-e {
  top: 50%;
  right: -3px;
  margin-top: -3px;
  cursor: e-resize; }

.cropper-point.point-n {
  top: -3px;
  left: 50%;
  margin-left: -3px;
  cursor: n-resize; }

.cropper-point.point-w {
  top: 50%;
  left: -3px;
  margin-top: -3px;
  cursor: w-resize; }

.cropper-point.point-s {
  bottom: -3px;
  left: 50%;
  margin-left: -3px;
  cursor: s-resize; }

.cropper-point.point-ne {
  top: -3px;
  right: -3px;
  cursor: ne-resize; }

.cropper-point.point-nw {
  top: -3px;
  left: -3px;
  cursor: nw-resize; }

.cropper-point.point-sw {
  bottom: -3px;
  left: -3px;
  cursor: sw-resize; }

.cropper-point.point-se {
  right: -3px;
  bottom: -3px;
  width: 20px;
  height: 20px;
  cursor: se-resize;
  filter: alpha(opacity=100);
  opacity: 1; }

.cropper-point.point-se:before {
  position: absolute;
  right: -50%;
  bottom: -50%;
  display: block;
  width: 200%;
  height: 200%;
  content: " ";
  background-color: #69f;
  filter: alpha(opacity=0);
  opacity: 0; }

@media (min-width: 768px) {
  .cropper-point.point-se {
    width: 15px;
    height: 15px; } }

@media (min-width: 992px) {
  .cropper-point.point-se {
    width: 10px;
    height: 10px; } }

@media (min-width: 1200px) {
  .cropper-point.point-se {
    width: 5px;
    height: 5px;
    filter: alpha(opacity=75);
    opacity: .75; } }

.cropper-bg {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC"); }

.cropper-invisible {
  filter: alpha(opacity=0);
  opacity: 0; }

.cropper-hide {
  position: absolute;
  display: block;
  width: 0;
  height: 0; }

.cropper-hidden {
  display: none !important; }

.cropper-move {
  cursor: move; }

.cropper-crop {
  cursor: crosshair; }

.cropper-disabled .cropper-drag-box,
.cropper-disabled .cropper-face,
.cropper-disabled .cropper-line,
.cropper-disabled .cropper-point {
  cursor: not-allowed; }
.account_uploads_stats__delete span {
  font-size: 13px;
  color: red; }

.account_uploads_stats__delete i {
  padding-right: 5px; }

.account__uploads__container {
  padding: 10px 0;
  overflow: auto; }

.account__uploads img {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 70px;
  height: 70px;
  display: inline-block;
  border: 2px solid #eaeaea;
  float: left; }

.account__uploads_stats {
  padding: 8px 0;
  font-size: 15px; }

.account_uploads_stats__delete__button {
  cursor: pointer; }

.account__uploads__message {
  padding: 10px 0;
  font-size: 13px; }
  .account__uploads__message a {
    color: #218ae3; }
    .account__uploads__message a:hover {
      color: #218ae3;
      text-decoration: underline; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .account__uploads__container {
    padding: 20px 0;
    overflow: auto; }
  .account__uploads img {
    width: 120px;
    height: 120px; }
  .account__uploads_stats {
    padding: 16px 0;
    font-size: 21px; }
  .account__uploads__message {
    padding: 12px 0;
    font-size: 21px; } }
.no-images-message {
  text-align: center;
  color: #999;
  margin-top: 50px; }
.img-responsive {
  width: 100%; }

.grid-item {
  overflow: hidden;
  position: relative;
  cursor: pointer; }

.invisible-submit {
  position: absolute;
  left: -9999px; }

.box {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 59px;
  transition: height 0.2s ease-in;
  color: #fff;
  text-align: center; }
  .box label {
    position: absolute;
    color: #000;
    top: 0;
    left: 0;
    color: #fff;
    top: 8px; }
  .box input {
    background: #fff;
    color: #218ae3;
    border: 0;
    text-align: center;
    padding: 9px;
    border-radius: 2px 0px 0px 2px;
    width: 175px;
    margin: 7px 0px;
    display: inline; }
  .box input[type="submit"] {
    width: 80px;
    background: #218ae3;
    color: #fff;
    border-radius: 0px 2px 2px 0px; }

.box.submitted {
  background: #218ae3;
  height: 228px; }
  .box.submitted label {
    opacity: 0; }
  .box.submitted input {
    opacity: 0; }
  .box.submitted .box__container-refresh {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 22px;
    cursor: pointer; }

.box__container {
  text-align: center;
  display: inline-block;
  position: relative;
  width: 100%; }
  .box__container label {
    width: 100%;
    display: block; }
  .box__container span {
    display: block; }

.grid-item:hover .box {
  bottom: 0; }

.grid-item.clicked .box label {
  position: absolute;
  top: -30px; }

.box.active {
  bottom: 0; }

.hideimage {
  opacity: 0; }

.secondaryImage {
  position: absolute;
  top: 0;
  z-index: -100; }

.grid-item__text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  padding-top: 180px; }

.grid-item__text__submission {
  text-align: center;
  color: #fff;
  font-size: 30px; }

.grid-item__text__rated {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: lighter; }

.grid-item__text__input {
  /* FF 4-18 */
  /* FF 19+ */
  /* IE 10+ */ }
  .grid-item__text__input ::-webkit-input-placeholder {
    color: #e4e1e1; }
  .grid-item__text__input :-moz-placeholder {
    /* Firefox 18- */
    color: #e4e1e1; }
  .grid-item__text__input ::-moz-placeholder {
    /* Firefox 19+ */
    color: #e4e1e1; }
  .grid-item__text__input :-ms-input-placeholder {
    color: #e4e1e1; }
  .grid-item__text__input input:focus::-webkit-input-placeholder {
    color: transparent; }
  .grid-item__text__input input:focus:-moz-placeholder {
    color: transparent; }
  .grid-item__text__input input:focus::-moz-placeholder {
    color: transparent; }
  .grid-item__text__input input:focus:-ms-input-placeholder {
    color: transparent; }

.grid-item__text__main {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: lighter; }

.grid-item__text:hover {
  display: block; }

.box__container-guess {
  padding-top: 15px; }

.box__container-guess__guess,
.box__container-guess__guess-number,
.box__container-guess__real-age,
.box__container-guess__real-age-number {
  font-size: 30px;
  font-weight: lighter; }

.box__container-guess__guess-number {
  font-weight: 600; }

.box__container-guess__real-age-number {
  font-weight: 600; }

.hide {
  display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */ }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .img-responsive {
    width: 100%; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .box {
    background: #218ae3;
    height: 38px; }
    .box input {
      color: #fff;
      background: #218ae3;
      padding: 9px 0px 0px 0px;
      border-radius: 0px;
      width: auto;
      margin: 0px; }
    .box label {
      transition: top 0.2s ease-in; }
  .box-hide {
    display: none; } }

/* Large devices (large desktops, 1200px and up) */
.form-control {
  box-shadow: none;
  border-radius: 1px;
  background: #f9f9f9;
  padding: 10px;
  height: auto; }

.form-control:focus {
  background: #fff;
  box-shadow: none;
  outline: 0; }

label {
  font-weight: 500; }

.box__container--desktop {
  display: none; }

.box__container--mobile {
  display: block; }

@media (min-width: 992px) {
  .box__container--desktop {
    display: block; }
  .box__container--mobile {
    display: none; } }
.login-button {
  cursor: pointer; }

.forgot-password-link {
  cursor: pointer; }
.register-button {
  cursor: pointer; }
.sidebar {
  background: #303030;
  color: #fff;
  height: 100%; }

.sidebar__logo {
  height: 40px;
  background: #218ae3;
  border-bottom: 2px solid #1c71b9; }

.sidebar__logo__text {
  text-align: center;
  vertical-align: middle;
  line-height: 40px; }

.user-info {
  text-align: left;
  padding: 10px 15px;
  background: #2e2c2c;
  vertical-align: middle;
  color: #fff; }
  .user-info a:hover {
    text-decoration: underline; }

.user-area {
  background: #2e2c2c; }

.user-info__login {
  display: inline-block; }

.user-info__register {
  display: inline-block; }

.error-message {
  font-size: 10px;
  float: right;
  color: red; }

.success-message {
  font-size: 10px;
  float: right;
  color: green; }

.logged-in {
  text-align: left; }

.logged-in__profile-image {
  float: left; }

.logged-in__container {
  display: inline-block; }

.logged-in__profile-image img {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 2px solid #eaeaea;
  float: left; }

.logged-in__profile-votes {
  color: #9d8282; }

.logged-in__profile-text {
  float: left;
  text-align: left;
  padding: 5px 9px; }

.navigation {
  padding: 0 15px;
  overflow: auto; }
  .navigation ul {
    list-style: none;
    padding: 0;
    font-size: 14px; }
    .navigation ul li {
      float: left;
      padding: 0px 10px;
      font-size: 11px; }
      .navigation ul li.active,
      .navigation ul li:hover,
      .navigation ul li:focus {
        background: #262424; }
      .navigation ul li a:focus {
        text-decoration: none;
        color: #fff; }
      .navigation ul li i {
        padding-right: 10px; }
      .navigation ul li.navigation__ratings {
        float: right; }
      .navigation ul li a {
        display: block;
        padding: 18px 0px; }

.logout-area {
  text-align: center;
  opacity: 0.7; }

.btn-logout-user-info {
  background: none;
  border: 1px solid #fff;
  margin-top: 18px; }

.feedback {
  display: none; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .feedback {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: block;
    background: #2e2c2c; }
    .feedback a:hover {
      text-decoration: underline; }
    .feedback i {
      padding-right: 6px; }
  .feedback__text {
    padding: 21px 0px; }
  .btn-logout-user-info {
    display: none; }
  .logged-in {
    text-align: center; }
  .sidebar {
    position: fixed;
    z-index: 1; }
  .sidebar__logo {
    height: 200px; }
  .sidebar__logo__text {
    line-height: 200px; }
  .navigation {
    padding: 13px 0; }
    .navigation ul {
      font-size: 15px;
      font-weight: lighter; }
      .navigation ul li {
        float: none;
        display: block;
        padding-left: 15px;
        font-size: 14px; }
        .navigation ul li.active,
        .navigation ul li:hover {
          border-left: 5px solid #218ae3;
          padding-left: 10px; }
        .navigation ul li i {
          width: 25px; }
  .ratings {
    display: block;
    font-size: 30px;
    font-weight: lighter; }
  .navigation .navigation__ratings {
    display: none; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navigation__center {
    width: 136px;
    text-align: left;
    display: inline-block; }
  .navigation ul li {
    font-size: 15px; }
    .navigation ul li a {
      padding: 18px 3px; } }

/* Large devices (large desktops, 1200px and up) */
.about-us__title {
  max-width: 500px;
  font-weight: 600;
  margin: 54px auto 30px;
  line-height: 50px; }

.about-us__description {
  max-width: 500px;
  font-size: 22px;
  line-height: 35px;
  margin: 0px auto 54px; }

.about-us__mock-faces {
  margin-bottom: 54px; }

.about-us__call-to-action {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 54px; }

.about-us__ratings {
  margin-bottom: 20px; }

.about-us .about-us__join-now {
  padding: 17px 63px;
  margin-bottom: 54px; }

.centre {
  text-align: center; }
html {
  height: 100%; }

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif; }

a {
  color: #fff; }

a:hover, a:active, a:focus {
  color: #fff;
  text-decoration: none; }

.no-padding {
  padding-right: 0;
  padding-left: 0; }

input:focus {
  outline: 0; }

.btn-default {
  margin: 8px 10px;
  background: #218ae3;
  color: #fff;
  border: 0;
  border-bottom: 2px solid #1c71b9; }

.btn-lg {
  padding: 6px 28px; }

.btn-success {
  margin: 8px 10px;
  background: #4eb962;
  border-bottom: 2px solid #44a156;
  border: 0;
  color: #fff; }

.btn-default.disabled {
  background: #ececec;
  color: #bcbbbb; }

@media (min-width: 768px) {
  .fill {
    height: 100%; } }
