.about-us__title {
    max-width: 500px;
    font-weight: 600;
    margin: 54px auto 30px;
    line-height: 50px;
}

.about-us__description {
    max-width: 500px;
    font-size: 22px;
    line-height: 35px;
    margin: 0px auto 54px;
}

.about-us__mock-faces {
    margin-bottom:54px;
}

.about-us__call-to-action {
    font-weight:bold;
    font-size:22px;
    margin-bottom:54px;
}

.about-us__ratings {
    margin-bottom:20px;
}

.about-us .about-us__join-now {
    padding:17px 63px;
    margin-bottom:54px;
}

.centre {
    text-align: center;
}
