.sidebar {
    background: #303030;
    color: #fff;
    height: 100%;
}

.sidebar__logo {
    height: 40px;
    background: #218ae3;
    border-bottom: 2px solid #1c71b9;
}

.sidebar__logo__text {
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

.user-info {
    text-align:left;
    padding: 10px 15px;
    background: #2e2c2c;
    vertical-align: middle;
    color: #fff;

    a:hover {
        text-decoration: underline;
    }
}

.user-area {
    background: #2e2c2c;
}

.user-info__login {
    display:block;
}
//
// .user-info__register {
//     display:block;
//     background:#2eae4a;
//     font-weight:bold;
//     border-bottom:2px solid #277d37;
// }

.register-button {
    display:block;
    color:#fff;
    background:#2eae4a;
    font-weight:bold;
    border-bottom:2px solid #277d37;
    border-radius: 2px;
    padding: 8px;
    text-align:center;
    margin-bottom: 9px;
}

.register-button:hover {
    background:#40BF5C;
}

.register-button:active {
    background:#2eae4a;
}

.login-button {
    display:block;
    border:1px solid #9E9E9E;
    color:#9E9E9E;
    border-radius: 2px;
    padding: 8px;
    text-align:center;
}

.login-button:hover {
    border:1px solid #fff;
    color:#fff;
}

.login-button:active {
    border:1px solid #9E9E9E;
    color:#fff;
}

.error-message {
    font-size: 10px;
    float: right;
    color: red;
}

.success-message{
    font-size: 10px;
    float: right;
    color: green;
}

.logged-in {
    text-align: left;
}

.logged-in__profile-image {
    float: left;
}

.logged-in__container {
    display: inline-block;
}

.logged-in__profile-image img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 2px solid #eaeaea;
    float: left;
}

.logged-in__profile-votes {
    color: #9d8282;
}

.logged-in__profile-text {
    float: left;
    text-align:left;
    padding: 5px 9px;
}

.navigation {
    padding: 0 15px;
    overflow: auto;

    ul {
        list-style: none;
        padding: 0;
        font-size: 14px;
        li {
            &.active,
            &:hover,
            &:focus {
                background: #262424;
            }
            a {
                &:focus{
                    text-decoration:none;
                    color:#fff;
                }
            }
            i {
                padding-right: 10px;
            }
            &.navigation__ratings {
                float: right;
            }
            float: left;
            padding: 0px 10px;
            font-size:11px;
            a {
                display:block;
                padding:18px 0px;
            }
        }
    }
}

.logout-area {
    text-align:center;
    opacity:0.7
}

.btn-logout-user-info {
    background:none;
    border:1px solid #fff;
    margin-top:18px;
}

.feedback {
    display:none;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .error-message {
        font-size: 10px;
        float: right;
        color: red;
        position: absolute;
        right: 6px;
        top: 10px;
        background: #E28383;
        color: #fff;
        padding: 4px;
        border-radius: 1px;
    }

    .feedback {
        position:absolute;
        bottom:0;
        width:100%;
        text-align:center;
        display:block;
        background:#2e2c2c;

        a:hover {
            text-decoration: underline;
        }

        i {
            padding-right:6px;
        }
    }

    .feedback__text {
        padding: 21px 0px;
    }

    .btn-logout-user-info {
        display:none;
    }

    .logged-in {
        text-align: center;
    }

    .sidebar {
        position: fixed;
        z-index: 1;
    }

    .sidebar__logo {
        height: 200px;
    }

    .sidebar__logo__text {
        line-height: 200px;
    }

    .navigation {
        padding: 13px 0;

        ul {
            font-size: 15px;
            font-weight: lighter;
            li {
                &.active,
                &:hover {
                    border-left: 5px solid #218ae3;
                    padding-left: 10px;
                }
                float: none;
                display: block;
                padding-left: 15px;
                font-size:14px;
                i {
                    width: 25px;
                }
            }
        }
    }

    .ratings {
        display: block;
        font-size: 30px;
        font-weight: lighter;
    }

    .navigation .navigation__ratings {
        display: none;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .navigation {
        ul {
            li {
                font-size:15px;
                a {
                    padding:18px 3px;
                }
            }
        }
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
