.account__upload {
    form {
        margin: 0 auto;
        text-align: center;
        padding: 25px 0;
    }
    input[type="file"] {
        display: inline-block;
    }
    background: #218ae3;
    text-align: center;
}

.btn-upload {
    background: #2e2c2c;
    color: #fff;
    border:0;
    border-bottom: 2px solid #1a1919;
    margin: 10px 0;
    &:hover {
        text-decoration: underline;
        color: #fff;
    }
}

.preview {
    height: 100px;
    width: 100px;
    overflow: hidden;
    float: right;
    margin-top: -110px;
    margin-right: 11px;
    position:absolute;
    right:18px;
}

.modal-body {
    overflow: auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.btn-logout-account {
    display:none;
}

@media (min-width: 768px) {
    .btn-logout-account {
        color: #d2d2d2;
        background: transparent;
        border: 1px solid #d2d2d2;
        position: absolute;
        right: 17px;
        top: 10px;
        display:inline-block;
    }

    .btn-logout-account:hover {
        color: #fff;
        background: transparent;
        border: 1px solid #fff;
        position: absolute;
        right: 17px;
        top: 10px;
        display:inline-block;
    }
}
