html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #fff;
}

a:hover, a:active, a:focus{
    color: #fff;
    text-decoration: none;
}

.no-padding {
    padding-right: 0;
    padding-left: 0;
}

input:focus {
  outline:0;
}

.btn-default {
    margin: 8px 0px;
    background: #218ae3;
    color: #fff;
    border: 0;
    border-radius:2px;
    border-bottom: 2px solid #1c71b9;
}

.btn-default:hover {
    color:#fff;
    background:#1B70B9;
    border-bottom: 2px solid #145388;
}

.modal-header .close {
    margin-top: -6px;
    font-size:35px;
}

.btn-lg {
    padding: 6px 28px;
}

.btn-success {
    margin: 8px 10px;
    background: #4eb962;
    border-bottom: 2px solid #44a156;
    border:0;
    color:#fff;
}

.btn-default.disabled {
    background:#ececec;
    color:#bcbbbb;
}

.modal-header {
    background:#218ae3;
    color:#fff;
    border-bottom:0;
}

.full-width-button {
    display:block;
    width:100%;
}

.form-group {
    position:relative;
}

.modal-content {
    border-radius:2px;
    border:0;
}

#habla_beta_container_do_not_rely_on_div_classes_or_names, #habla_window_div {
    display: none;
}

@media (min-width: 768px) {
    .fill {
        height:100%;
    }

    #habla_beta_container_do_not_rely_on_div_classes_or_names, #habla_window_div {
        display: block;
    }
}
